# Python cache files
__pycache__/
*.py[cod]

# Django migration cache
*/migrations/__pycache__/

# Environment variables
.env
*.env

# SQLite database
db.sqlite3

# Static files
staticfiles/

# Media files
media/

# IDE or Editor specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Python virtual environment
env/
venv/
ENV/
env.bak/
venv.bak/

# Log files
*.log

# Cache files
*.cache

# Local settings
local_settings.py

# Translation template files
*.pot

# Tox environment (if using)
.tox/
